.sfondoAzzurro
{
    background-color: aqua;
    text-align: center;
}

.centro
{
    text-align: center;
}

.noLink, a:hover, a:active
{
    text-decoration: none;
    color: inherit;
}

.tg  
{
    border-collapse:collapse;
    border-spacing:0;
}

.tg td
{
    border-color:black;
    border-style:solid;
    border-width:1px;
    font-family:Arial, sans-serif;
    font-size:14px;
    overflow:hidden;
    padding:10px 5px;
    word-break:normal;
}

.tg th
{
    border-color:black;
    border-style:solid;
    border-width:1px;
    font-family:Arial, sans-serif;
    font-size:14px;
    font-weight:normal;
    overflow:hidden;
    padding:10px 5px;
    word-break:normal;
}

.tg .tg-0lax
{
    text-align:left;
    vertical-align:top
}

table, th, td 
{
    border: 2px solid black;
    text-align: center;
}

.center 
{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5%;
}

.dark
{
    background-color: gray;
}

.gradient-custom {
    /* fallback for old browsers */
    background: #0cceff;
  
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to bottom right, rgba(240, 147, 251, 1), rgba(245, 87, 108, 1));
  
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to bottom right, rgba(240, 147, 251, 1), rgba(245, 87, 108, 1))
  }
  
  .card-registration .select-input.form-control[readonly]:not([disabled]) {
    font-size: 1rem;
    line-height: 2.15;
    padding-left: .75em;
    padding-right: .75em;
  }
  .card-registration .select-arrow {
    top: 13px;
  }

@media screen and (max-width: 767px) {.tg {width: auto !important;}.tg col {width: auto !important;}.tg-wrap {overflow-x: auto;-webkit-overflow-scrolling: touch;}}