.centro
{
    text-align: center;
}

.bordo
{
    border: 2px solid black;
}


body
{
    background-color: aqua;
}

p
{
    display: inline;
}

table, th, td 
{
    border:2px solid black;
    text-align: center;
    margin-left: auto;
  margin-right: auto;
}

.barra
{
    background-color: yellow;
}